{%extends "base.html"%}
{%block title%}About{% endblock %}

{%block content%}
<h1>About This Website</h1>
    <div class = "grid">
      <h2>About Me: Ashley Bigelow</h2>
    </div>
    <h3>My name is Ashley and I am a senior studying computer science. Over the 
      summer, I decided to work on a project that would help me with both 
      developing my coding skills and keep track of my fitness journey.
    </h3>
    <h2>Links to the logos/images that were used in this website:</h2>
    <div class = "two_grid">
      <div class = "card">
        <h3>Home Image</h3>
      </div>
      <div class = "card">
        <a href="https://www.flaticon.com/free-icons/home-button" title="home button icons" 
        target="_blank" rel="noopener noreferrer">
          <p>Home button icons created by Freepik - Flaticon</p>
        </a>
      </div>
      <div class = "card">
        <h3>Paper and Pencil Icon</h3>
      </div>
      <div class = "card">
        <a href="https://www.flaticon.com/free-icons/edit" title="edit icons" 
        target="_blank" rel="noopener noreferrer">
          <p>Edit icons created by Freepik - Flaticon</p>
        </a>
      </div>
      <div class = "card">
        <h3>Other Photos:</h3>
      </div>
      <div class = "card">
        <a href = "https://unsplash.com/" target="_blank" rel="noopener noreferrer">
          <p>Unsplash Photos</p>
        </a>
      </div>
    </div>
{% endblock %}
