{%extends "base.html"%}
{%block title%}Home{% endblock %}

{%block content%}
<h1>Fitness Journey Tracker</h1>
  <div class="index_grid">
    <div class="item1">
      <img src="../static/Images/running.jpg" width='300' alt="running image">
    </div>
    <div class="item2">
      <h2>Welcome to Fitness Journey Tracker, a website designed to help Track
        your daily fitness progress/goals! Whether you are just starting your
        journey or are just looking for a way to track what you do, this website
        is designed to help you achieve your goals.
      </h2>
    </div>
    <div class="item3">
      <h2>This website not only helps you track your fitness routine, but you can
        also look up healthy meals that you may want to encorporate into your
        routine.
      </h2>
    </div>
    <div class="item4">
      <img src="../static/Images/salad.jpg" width="300" alt="salad image">
    </div>
  </div>
{% endblock %}